body {
  background: #F3F5FC;
  padding: 10px 10px;
  
}


.conatiner {
  position: relative;
  width: 100vw;
  height: 100vh;

}

  .encripta-texto {
    position: absolute;
    width: 45%;
    height: 60%;
    left: 10%;
    top: 10%;
    background: #F3F5FC;
    border: none;
  }

.input-texto {
  height: 67px;
  width: 280px;
  left: 240px;
  top: 885px;
  border-radius: 0px;

}